
    <!-- Header-->
    <header id="header" class="header-v1">
        <!-- Main Nav -->
        <nav class="flat-mega-menu">
            <!-- flat-mega-menu class -->
            <label for="mobile-button"> <i class="fa fa-bars"></i></label><!-- mobile click button to show menu -->
            <input id="mobile-button" type="checkbox">

            <ul class="collapse"><!-- collapse class for collapse the drop down -->
                <!-- website title - Logo class -->
                <li class="title">
                    <a href="#"><span>T</span>ravelia<span>.</span></a>
                    <i class="fa fa-rocket"></i>
                </li>
                <!-- End website title - Logo class -->

                <li><a href="#">HOME</a>
                    <!--<div class="drop-down two-column hover-fade">
                        <ul>
                            <li><a href="index.html">Home Version 1</a></li>
                            <li><a href="index-v2.html">Home Version 2</a></li>
                            <li><a href="index-v3.html">Home Version 3</a></li>
                            <li><a href="index-v4.html">Home Version 4</a></li>
                        </ul>

                        <ul>
                            <li><a href="hotel-index.html">Home Hotels</a> </li>
                            <li> <a href="flight-index.html">Home Flights</a> </li>
                        </ul>
                    </div>-->
                </li>

                <li> <a href="" ui-sref="hotels">HOTELS</a>
                    <!--<ul class="drop-down one-column hover-fade">
                        <li><a href="hotel-index.html">Home Hotels</a></li>
                        <li><a href="hotel-list-view.html">List View</a></li>
                        <li><a href="hotel-grid-view.html">Grid View</a></li>
                        <li><a href="hotel-detailed.html">Detailed</a></li>
                    </ul>-->
                </li>

                <li> <a href="#">ABOUT US</a>
                    <!--<ul class="drop-down one-column hover-fade">
                        <li><a href="template-about-1.html">About Us 1</a> </li>
                        <li><a href="template-about-2.html">About us 2</a> </li>
                    </ul>-->
                </li>

                <li> <a href="#">SERVICES</a>
                    <!--<ul class="drop-down one-column hover-fade">
                        <li><a href="template-service-1.html">Services 1</a> </li>
                        <li><a href="template-service-2.html">Services 2</a> </li>
                    </ul>-->
                </li>

                <li> <a href="#">GALLERY</a>
                    <!--<ul class="drop-down one-column hover-fade">
                        <li><a href="template-gallery-4.html">Gallery 4 Column</a> </li>
                        <li><a href="template-gallery-3.html">Gallery 3 Columns</a> </li>
                        <li><a href="template-gallery-2.html">Gallery 2 Columns</a> </li>
                    </ul>-->
                </li>

                <li> <a href="#">PACKAGES</a>
                    <!--<div class="drop-down full-width hover-fade">
                        <ul>&lt;!&ndash; column one &ndash;&gt;
                            <li>
                                <h2><span>Punta</span> Cana</h2>
                                <a href="packages-index.html"><img src="127.0.0.1:8000/static/lib/img/gallery-2/1.jpg" alt="image 1"> </a>
                                <p>Punta Cana is a cape located east of the Dominican Republic in the province of La Altagracia.</p>
                                <a href="packages-index.html" class="btn btn-primary">View Details</a>
                            </li>
                        </ul>

                        <ul>&lt;!&ndash; column two &ndash;&gt;
                            <li>
                                <h2><span>Santa</span> Marta</h2>
                                <a href="packages-index.html"><img src="127.0.0.1:8000/static/lib/img/gallery-2/2.jpg" alt="image 1"> </a>
                                <p>Santa Marta, officially Tourism, Cultural and Historic District of Santa Marta is a Colombian city.</p>
                                <a href="packages-index.html" class="btn btn-primary">View Details</a>
                            </li>
                        </ul>

                        <ul>&lt;!&ndash; column three &ndash;&gt;
                            <li>
                                <h2><span>Isla</span> de San Andres</h2>
                                <a href="packages-index.html"><img src="127.0.0.1:8000/static/lib/img/gallery-2/3.jpg" alt="image 1"> </a>
                                <p>San Andres Island is the largest of the islands forming part of the Archipelago of San Andrés.</p>
                                <a href="packages-index.html" class="btn btn-primary">View Details</a>
                            </li>
                        </ul>

                        <ul>&lt;!&ndash; column four &ndash;&gt;
                            <li>
                                <h2><span>Cartagena</span> de Indias</h2>
                                <a href="packages-index.html"><img src="127.0.0.1:8000/static/lib/img/gallery-2/4.jpg" alt="image 1"> </a>
                                <p>Cartagena de Indias, officially Tourist and Cultural District of Cartagena de Indias Cartagena de Indias abbreviated.</p>
                                <a href="packages-index.html" class="btn btn-primary">View Details</a>
                            </li>
                        </ul>
                    </div>-->
                </li>

                <li> <a href="#">FEATURES</a>
                    <!--<div class="drop-down full-width hover-fade">&lt;!&ndash; full width drop down with 4 columns &ndash;&gt;
                        <ul>&lt;!&ndash; column One &ndash;&gt;
                            <li><h2>Templates</h2></li>
                            <li><a href="template-about-1.html">About Us 1</a> </li>
                            <li><a href="template-about-2.html">About us 2</a> </li>
                            <li><a href="template-service-1.html">Services 1</a> </li>
                            <li><a href="template-service-2.html">Services 2</a> </li>
                            <li><a href="template-gallery-4.html">Gallery 4 Column</a> </li>
                            <li><a href="template-gallery-3.html">Gallery 3 Columns</a> </li>
                            <li><a href="template-gallery-2.html">Gallery 2 Columns</a> </li>
                            <li><a href="template-blog-right.html">Blog Right Sidebar</a> </li>
                            <li><a href="template-blog-left.html">Blog Left Sidebar</a> </li>
                        </ul>

                        <ul>&lt;!&ndash; column Two &ndash;&gt;
                            <li><h2>Templates</h2></li>
                            <li><a href="template-blog-full.html">Blog Full Width</a> </li>
                            <li><a href="template-blog-read.html">Blog Read</a> </li>
                            <li><a href="template-faq.html">Page Faq Questions</a> </li>
                            <li><a href="page-full-widht.html">Page Full Widht</a> </li>
                            <li><a href="page-left.html">Page Left Sidebar</a> </li>
                            <li><a href="page-right.html">Page Right Sidebar</a> </li>
                            <li><a href="page-404.html">Page 404</a> </li>
                            <li><a href="page-site-map.html">Page Site Map</a> </li>
                            <li><a href="princing-tables.html">Princing tables</a> </li>
                        </ul>

                        <ul>&lt;!&ndash; column three &ndash;&gt;
                            <li><h2>Features</h2></li>
                            <li><a href="feature-header-1.html">Header Version 1</a> </li>
                            <li><a href="feature-header-2.html">Header Version 2</a> </li>
                            <li><a href="feature-header-3.html">Header Version 3</a> </li>
                            <li><a href="feature-header-4.html">Header Version 4</a> </li>
                            <li><a href="feature-footer-1.html#footer">Footer Version 1</a> </li>
                            <li><a href="feature-footer-2.html#footer">Footer Version 2</a> </li>
                            <li><a href="feature-footer-3.html#footer">Footer Version 3</a> </li>
                            <li><a href="feature-footer-4.html#footer">Footer Version 4</a> </li>
                            <li><a href="feature-background-sections.html">Background sections</a> </li>
                        </ul>

                        <ul>&lt;!&ndash; column four &ndash;&gt;
                            <li><h2>Elements</h2></li>
                            <li><a href="feature-grid-system.html">Grid System</a> </li>
                            <li><a href="feature-typograpy.html">Typograpy</a> </li>
                            <li><a href="feature-icons.html">Icons</a> </li>
                            <li class="icon-big-nav"><i class="fa fa-rocket"></i></li>&lt;!&ndash; Icon big nav &ndash;&gt;
                        </ul>
                    </div>-->
                </li>

                <li>
                    <a href="contact.html">CONTACT</a>
                </li>

                <li class="social-bar"> <a href="#">FOLLOW US</a>
                    <ul class="drop-down hover-zoom">
                        <li> <a href="#" target="_blank"><i class="fa fa-flickr"></i> </a> </li>
                        <li> <a href="#" target="_blank"><i class="fa fa-instagram"></i> </a> </li>
                        <li> <a href="#" target="_blank"><i class="fa fa-youtube"></i> </a> </li>
                        <li> <a href="#" target="_blank"><i class="fa fa-facebook"></i> </a> </li>
                        <li> <a href="#" target="_blank"><i class="fa fa-google-plus"></i> </a> </li>
                        <li> <a href="#" target="_blank"><i class="fa fa-pinterest"></i> </a> </li>
                    </ul>
                </li>

                <li class="login-form"> <i class="fa fa-user"></i><!-- login form -->
                    <ul class="drop-down hover-expand">
                        <li>
                            <form method="post" action="#">
                                <table>
                                    <tr>
                                        <td colspan="2">
                                            <input type="email" required="required" name="email" placeholder="Your email address">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <input type="password" required="required" name="password" placeholder="Password">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> <input type="submit" value="Login"> </td>
                                        <td> <label> <input type="checkbox" name="check_box"> Keep me signed in </label> </td>
                                    </tr>
                                </table>
                            </form>
                        </li>
                    </ul>
                </li>

                <li class="search-bar"> <i class="fa fa-search"></i><!-- search bar -->
                    <ul class="drop-down hover-expand">
                        <li>
                            <form method="post" action="#">
                                <table>
                                    <tr>
                                        <td> <input type="search" required="required" name="serach_bar" placeholder="Type Keyword Here"> </td>
                                        <td> <input type="submit" value="Search"> </td>
                                    </tr>
                                </table>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- Main Nav -->
    </header>
    <!-- End Header-->

    <!-- Slide And Filter Section-->
    <section class="tp-banner-container">
        <!-- SLIDE  -->
        <div class="tp-banner" >
            <!-- SLIDES CONTENT-->
            <ul>
                <!-- SLIDE  -->
                <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">
                    <!-- MAIN IMAGE -->
                    <img src="static/lib/img/slide/22.jpg"  alt="fullslide1" data-bgposition="center center" data-kenburns="on" data-duration="6000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center">
                    <!-- LAYERS -->
                </li>

                <!-- SLIDE  -->
                <li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">
                    <!-- MAIN IMAGE -->
                    <img src="static/lib/img/slide/21.jpg"  alt="fullslide1" data-bgposition="top center" data-kenburns="on" data-duration="6000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center">
                    <!-- LAYERS -->
                </li>

                <!-- SLIDE  -->
                <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">
                    <!-- MAIN IMAGE -->
                    <img src="static/lib/img/slide/20.jpg"  alt="fullslide1" data-bgposition="right center" data-kenburns="on" data-duration="6000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center">
                    <!-- LAYERS -->
                </li>

                <!-- SLIDE  -->
                <li data-transition="slidevertical" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">
                    <!-- MAIN IMAGE -->
                    <img src="static/lib/img/slide/19.jpg"  alt="fullslide1" data-bgposition="left center" data-kenburns="on" data-duration="6000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center">
                    <!-- LAYERS -->
                </li>
            </ul>
            <!-- END SLIDES  -->
            <div class="tp-bannertimer"></div>

            <script type="text/javascript">
                $(document).ready(function() {
                    $('.tp-banner').show().revolution({
                        dottedOverlay:"none",
                        delay:5000,
                        startwidth:1170,
                        startheight:925,
                        minHeight:500,
                        navigationType:"none",
                        navigationArrows:"solo",
                        navigationStyle:"preview1"
                    });
                }); //ready
            </script>
        </div>
        <!-- SLIDE CONTENT-->

        <!-- FILTER HEADER - TITLE HEADER-->
        <div class="filter-title">
            <!-- TITLE HEADER-->
            <div class="title-header">
                <h1>BOOK A WHOLE HOME</h1>
                <p class="lead">Book cheap hotels and make payment facilities, free cancellation when the hotel so provides, compare prices and find all the options for your vacation.</p>
            </div>
            <!-- END TITLE HEADER-->

            <!-- FILTER HEADER-->
            <div class="filter-header">
                <form action="#">
                    <input type="text" required="required" placeholder="Where do you want to go?" class="input-large">
                    <input type="text" required="required" placeholder="Check In" class="date-input">
                    <input type="text" required="required" placeholder="Check Out" class="date-input">
                    <div class="selector">
                        <select class="guests-input">
                            <option value="1">1 Guests</option>
                            <option value="2">2 Guests</option>
                            <option value="3">3 Guests</option>
                            <option value="4">4 Guests</option>
                            <option value="5">5+ Guests</option>
                        </select>
                        <span class="custom-select">Guests</span>
                    </div>
                    <input type="submit" value="Search">
                </form>
            </div>
            <!-- END FILTER HEADER-->
        </div>
        <!-- END FILTERHEADER - TITLE HEADER -->
    </section>
    <!-- End Slide And Filter Section-->

    <!--Content Central -->
    <section class="content-central">
        <!-- Shadow Semiboxed Layout -->
        <div class="semiboxshadow text-center">
            <img src="{{static_path}}lib/img/img-theme/shp.png" class="img-responsive" alt="">
        </div>
        <!-- End Shadow Semiboxed Layout -->

        <!-- End content info - Services Items-->
        <div class="content_info">
            <div class="content_resalt">
                <div class="container">
                    <div class="row">
                        <!-- Info Resalt - Info Services -->
                        <div class="col-md-4 ">
                            <div class="services-lines-info">
                                <h2>WELCOME TO THEME STAYSELECT</h2>
                                <p class="lead">
                                    Book cheap hotels and make payment facilities.
                                    <span class="line"></span>
                                </p>

                                <p>Find a wide variety of airline tickets and cheap flights, hotels, tour packages, car rentals, cruises and more in stayselect.com.You can choose your favorite destination and start planning your long-awaited vacation. You can also check availability of flights. </p>
                            </div>
                        </div>
                        <!-- End Info Resalt - Info Services -->

                        <!-- Services Items -->
                        <div class="col-md-8">
                            <ul class="services-lines">
                                <li>
                                    <div class="item-service-line">
                                        <i class="fa fa-bicycle"></i>
                                        <h5>Special Activities</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-service-line">
                                        <i class="fa fa-plane"></i>
                                        <h5>Travel Arrangements</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-service-line">
                                        <i class="fa fa-user"></i>
                                        <h5>Private Guide</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-service-line">
                                        <i class="fa fa-search-plus"></i>
                                        <h5>Location Manager</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-service-line">
                                        <i class="fa fa-map-marker"></i>
                                        <h5>Handpicked Hotels</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-service-line">
                                        <i class="fa fa-money"></i>
                                        <h5>Best Price Guarantee</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-service-line">
                                        <i class="fa fa-bank"></i>
                                        <h5>Trust & Safety</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-service-line">
                                        <i class="fa fa-line-chart"></i>
                                        <h5>Best Travel Agent</h5>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End Services Items -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End content info - Services Items -->

        <!-- End content info - Vacations Destinatios-->
        <div class="content_info">
            <!-- Title -->
            <div class="container">
                <div class="row">
                    <div class="titles">
                        <h2>The <span>Popular</span> Destinations </h2>
                        <i class="fa fa-bicycle"></i>
                        <hr class="tall">
                    </div>
                </div>
            </div>
            <!-- End Title-->

            <!-- content-boxes-->
            <div class="content-boxes">
                <!-- Item-boxe-->
                <div class="item-boxed">
                    <div class="image-boxed">
                        <span class="overlay"></span>
                        <img src="{{static_path}}lib/img/gallery-1/11.jpg" alt="">
                        <a href="hotel-detailed.html" class="more-boxe"><i class="fa fa-plus-circle"></i></a>
                    </div>
                    <div class="info-boxed boxed-top">
                        <h3>
                            Hot Baloon Special Journey<br>
                            <span>DPM, CBE, TAMILNADU</span>
                        </h3>
                        <hr class="separator">
                        <p>The Royal National is in London near Covent Garden.</p>
                        <ul class="starts">
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                        </ul>
                        <div class="content-btn"><a href="hotel-detailed.html" class="btn btn-primary">View Details</a></div>
                        <div class="price"><span>$</span> 45</div>
                    </div>
                </div>
                <!-- End Item-boxe-->

                <!-- Item-boxe-->
                <div class="item-boxed">
                    <div class="image-boxed">
                        <span class="overlay"></span>
                        <img src="{{static_path}}lib/img/gallery-1/12.jpg" alt="">
                        <a href="hotel-detailed.html" class="more-boxe"><i class="fa fa-plus-circle"></i></a>
                    </div>
                    <div class="info-boxed boxed-top">
                        <h3>
                            The Grand Canyons<br>
                            <span>PEELAMEDU, CBE, INDIA</span>
                        </h3>
                        <hr class="separator">
                        <p>The Holiday Inn Bilbao is in a prime location next to the Basilica of Begoña.</p>
                        <ul class="starts">
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                        </ul>
                        <div class="content-btn"><a href="hotel-detailed.html" class="btn btn-primary">View Details</a></div>
                        <div class="price"><span>$</span> 65</div>
                    </div>
                </div>
                <!-- End Item-boxe-->

                <!-- Item-boxe-->
                <div class="item-boxed">
                    <div class="info-boxed boxed-bottom">
                        <h3>
                            Weekdays in Thailand<br>
                            <span>PEELAMEDU, CBE, INDIA</span>
                        </h3>
                        <hr class="separator">
                        <p>The spacious rooms have a bathroom with hairdryer, direct dial telephone.</p>
                        <ul class="starts">
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                        </ul>
                        <div class="content-btn"><a href="hotel-detailed.html" class="btn btn-primary">View Details</a></div>
                        <div class="price"><span>$</span> 30</div>
                    </div>
                    <div class="image-boxed image-bottom">
                        <span class="overlay"></span>
                        <img src="{{static_path}}lib/img/gallery-1/13.jpg" alt="">
                        <a href="hotel-detailed.html" class="more-boxe"><i class="fa fa-plus-circle"></i></a>
                    </div>
                </div>
                <!-- End Item-boxe-->

                <!-- Item-boxe-->
                <div class="item-boxed">
                    <div class="info-boxed boxed-bottom">
                        <h3>
                            Peek Mountain View<br>
                            <span>LAS VEGAS, NEVADA</span>
                        </h3>
                        <hr class="separator">
                        <p>The Golden Bay, heated and opened in 2003, with a total of 380 rooms.</p>
                        <ul class="starts">
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                        </ul>
                        <div class="content-btn"><a href="hotel-detailed.html" class="btn btn-primary">View Details</a></div>
                        <div class="price"><span>$</span> 80</div>
                    </div>
                    <div class="image-boxed image-bottom">
                        <span class="overlay"></span>
                        <img src="{{static_path}}lib/img/gallery-1/14.jpg" alt="">
                        <a href="hotel-detailed.html" class="more-boxe"><i class="fa fa-plus-circle"></i></a>
                    </div>
                </div>
                <!-- End Item-boxe-->
            </div>
            <!-- End content-boxes-->
        </div>
        <!-- End content info - Vacations Destinatios-->

        <!-- End content info - Features-->
        <div class="content_info">
            <!-- Title -->
            <div class="container">
                <div class="row">
                    <div class="titles">
                        <h2><span>¿</span>Why <span>Book</span> in stayselect<span>?</span></h2>
                        <i class="fa fa-plane"></i>
                        <hr class="tall">
                    </div>
                </div>
            </div>
            <!-- End Title-->

            <!-- content-->
            <div class="container">
                <div class="row padding-bottom">
                    <div class="col-md-4">
                        <div class="item-feature text-center">
                            <div class="head-feature">
                                <span>Up</span>
                                <br>
                                <div class="title-feature">
                                    <i class="fa fa-sun-o left-icon"></i>
                                    <i class="fa fa-umbrella right-icon"></i>
                                    30
                                </div><span>%</span>
                                <br>
                                <span>discount</span>
                            </div>
                            <div class="info-feature">
                                <p>For over 4 years offering the best plans at the best price with exclusive discounts.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 text-center">
                        <div class="item-feature text-center">
                            <div class="head-feature">
                                <span>over</span>
                                <br>
                                <div class="title-feature">
                                    <i class="fa fa-thumbs-o-up left-icon"></i>
                                    <i class="fa fa-heart right-icon"></i>
                                    1 million
                                </div>
                                <br>
                                <span>Reviews</span>
                            </div>
                            <div class="info-feature">
                                <p>Browse and compare the views of users and safe acertarás.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 text-center">
                        <div class="item-feature text-center">
                            <div class="head-feature">
                                <span>pays</span>
                                <br>
                                <div class="title-feature">
                                    <i class="fa fa-check right-icon"></i>
                                    the price
                                </div>
                                <br>
                                <span>+ low</span>
                            </div>
                            <div class="info-feature">
                                <p>All days Escape at the best price in offers for our products.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End content-->
        </div>
        <!-- End content info - Features-->

        <!-- End Promotion Boxes - Parallax Section -->
        <div class="content_info">
            <!-- Parallax Background -->
            <div class="bg_parallax image_04_parallax"></div>
            <!-- Parallax Background -->

            <!-- Content Parallax-->
            <div class="opacy_bg_02 padding-bottom">
                <!-- Title -->
                <div class="container">
                    <div class="row">
                        <div class="titles">
                            <h2>The <span>Promotions</span> Bonus</h2>
                            <i class="fa fa-money"></i>
                            <hr class="tall">
                        </div>
                    </div>
                </div>
                <!-- End Title-->

                <!-- content-->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <!-- promotion-box-->
                            <div class="promotion-box">
                                <div class="promotion-box-header">
                                    <img src="{{static_path}}lib/img/sponsors/1.png" alt="img">
                                </div>

                                <div class="promotion-box-center color-1">
                                    <div class="prince">
                                        30
                                    </div>

                                    <div class="percentage">
                                        %<span>discount</span>.
                                    </div>
                                </div>

                                <div class="promotion-box-info">
                                    <p>Select a bonus 30% and access to all our discounts.</p>
                                    <a href="#" class="btn btn-primary">View Details</a>
                                </div>
                            </div>
                            <!-- End promotion-box-->
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <!-- promotion-box-->
                            <div class="promotion-box">
                                <!-- promotion-box-header-->
                                <div class="promotion-box-header">
                                    <img src="{{static_path}}lib/img/sponsors/2.png" alt="img">
                                </div>
                                <!-- End promotion-box-header-->

                                <!-- promotion-box-center-->
                                <div class="promotion-box-center color-2">
                                    <div class="prince">
                                        70
                                    </div>

                                    <div class="percentage">
                                        %<span>discount</span>.
                                    </div>
                                </div>
                                <!-- End promotion-box-center-->

                                <!-- promotion-box-info-->
                                <div class="promotion-box-info">
                                    <p>Select a bonus 70% and access to all our discounts.</p>
                                    <a href="#" class="btn btn-primary">View Details</a>
                                </div>
                                <!-- End promotion-box-info-->
                            </div>
                            <!-- End promotion-box-->
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <!-- promotion-box-->
                            <div class="promotion-box">
                                <div class="promotion-box-header">
                                    <img src="{{static_path}}lib/img/sponsors/5.png" alt="img">
                                </div>

                                <div class="promotion-box-center color-3">
                                    <div class="prince">
                                        50
                                    </div>

                                    <div class="percentage">
                                        %<span>discount</span>.
                                    </div>
                                </div>

                                <div class="promotion-box-info">
                                    <p>Select a bonus 50% and access to all our discounts.</p>
                                    <a href="#" class="btn btn-primary">View Details</a>
                                </div>
                            </div>
                            <!-- End promotion-box-->
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <!-- promotion-box-->
                            <div class="promotion-box">
                                <div class="promotion-box-header">
                                    <img src="{{static_path}}lib/img/sponsors/3.png" alt="img">
                                </div>

                                <div class="promotion-box-center color-4">
                                    <div class="prince">
                                        60
                                    </div>

                                    <div class="percentage">
                                        %<span>discount</span>.
                                    </div>
                                </div>

                                <div class="promotion-box-info">
                                    <p>Select a bonus 60% and access to all our discounts.</p>
                                    <a href="#" class="btn btn-primary">View Details</a>
                                </div>
                            </div>
                            <!-- End promotion-box-->
                        </div>
                    </div>
                </div>
                <!-- End content-->
            </div>
            <!-- End Content Parallax-->
        </div>
        <!-- End Promotion Boxes - Parallax Section -->

        <!-- End content - Slide Features-->
        <div class="content_info content_resalt">
            <ul id="slide-features">
                <li>
                    <!-- content-->
                    <div class="container">
                        <div class="row">
                            <!-- Info Resalt - Info Services -->
                            <div class="col-md-5">
                                <div class="services-lines-info">
                                    <h2>We Provide You An Ultimate Travel Experience</h2>
                                    <p class="lead">
                                        Book cheap hotels and make payment facilities.
                                        <span class="line"></span>
                                    </p>

                                    <p>Find a wide variety of airline tickets and cheap flights, hotels, tour packages, car rentals, cruises and more in stayselect.com.You can choose your favorite destination and start planning your long-awaited vacation. You can also check availability of flights and hotels quickly and easily, in order to find the option that best suits your needs.</p>
                                    <br>
                                    <p>Book cheap hotels and make payment facilities, free cancellation when the hotel so provides, compare prices and find all the options for your vacation.</p>
                                    <br>
                                    <a href="#" class="btn btn-primary">View Details</a>
                                </div>
                            </div>

                            <div class="col-md-7">
                                <img src="{{static_path}}lib/img/service.png" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- End content-->
                </li>
                <!-- Item Slide Features  -->
                <li>
                    <div class="container">
                        <div class="row padding-top">
                            <div class="col-md-6">
                                <div class="img-hover">
                                    <div class="overlay"> <a href="img/gallery-2/2.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                                    <img src="{{static_path}}lib/img/gallery-2/2.jpg" alt="" class="img-responsive">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="services-lines-info">
                                    <h2>Explore our latest tours </h2>
                                    <p class="lead">
                                        Select StaySelect Theme And Receive our discounts by e-mail.
                                        <span class="line"></span>
                                    </p>

                                    <p>You can choose your favorite destination and start planning your long-awaited vacation. We offer thousands of destinations and have a wide variety of hotels so that you can host and enjoy your stay without problems. Book now your trip stayselect.com.</p>
                                    <br>
                                    <a href="#" class="btn btn-primary">View Details</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Row  -->
                    </div>
                    <!-- End Container  -->
                </li>
                <!-- End Item Slide Features  -->
            </ul>
        </div>
        <!-- End content - Slide Features-->

        <!-- content info - testimonials-->
        <div class="content_info">
            <!-- Parallax Background -->
            <div class="bg_parallax image_02_parallax"></div>
            <!-- Parallax Background -->

            <div class="opacy_bg_02">
                <!-- Testimonial Propertie-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="info-testimonial">
                                <ul id="testimonials">
                                    <li>
                                        <p><i class="fa fa-quote-left"></i>The hotel is stunning, super recommended. And the treatment of its people in very good, are always attentive to the little things.<i class="fa fa-quote-right"></i></p>

                                        <div class="image-testimonials">
                                            <img src="{{static_path}}lib/img/testimonials/1.jpg" alt="">
                                        </div>
                                        <h4>Jeniffer Martinez</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </li>

                                    <li>
                                        <p><i class="fa fa-quote-left"></i>Spectacular, excellent personal, restaurants and very good drinks, highly recommended.<i class="fa fa-quote-right"></i></p>

                                        <div class="image-testimonials">
                                            <img src="{{static_path}}lib/img/testimonials/2.jpg" alt="">
                                        </div>
                                        <h4>Juan Rendon</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </li>

                                    <li>
                                        <p><i class="fa fa-quote-left"></i>The hotel is stunning, super recommended. And the treatment of its people in very good, are always attentive to the little things.<i class="fa fa-quote-right"></i></p>

                                        <div class="image-testimonials">
                                            <img src="{{static_path}}lib/img/testimonials/3.jpg" alt="">
                                        </div>
                                        <h4>Federick Gordon</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="testimonial-info">
                                <h2>TESTIMONIALS</h2>
                                <P>You can choose your favorite destination and start planning your long-awaited vacation. We offer thousands of destinations and have a wide variety of hotels so that you can host and enjoy your stay without problems. Book now your trip stayselect.com.</P>
                                <a href="#" class="btn btn-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Testimonial Propertie-->
            </div>
        </div>
        <!-- End content info - testimonials-->

        <!-- Twitter Section -->
        <div class="section-twitter">
            <i class="fa fa-twitter icon-big"></i>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2>Our recents <span class="text-resalt">twitts</span>.</h2>
                        </div>
                        <div id="twitter"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Twitter Section -->
        <script>
            //=================================== Sticky nav ===================================//

            $("#header").sticky({topSpacing:0});

            //=================================== datepicker ===================================//
            $(".date-input" ).datepicker();
            //=================================== Carousel Services  ==============================//
            $("#single-carousel, #single-carousel-sidebar").owlCarousel({
                items : 1,
                autoPlay: 4000,
                navigation : true,
                autoHeight : true,
                slideSpeed : 400,
                singleItem: true,
                pagination : false
            });

            //=================================== Carousel features  ==================================//
            $("#slide-features").owlCarousel({
                autoPlay: false,
                items : 1,
                navigation : true,
                autoHeight : true,
                slideSpeed : 400,
                singleItem: true,
                pagination : true
            });

            //=================================== Carousel Boxes  ==================================//
            $("#boxes-carousel").owlCarousel({
                autoPlay: 3200,
                items : 4,
                navigation: true,
                itemsDesktopSmall : [1024,3],
                itemsTablet : [768,2],
                itemsMobile : [500,1],
                pagination: false
            });

            //=================================== Carousel teams  ==================================//
            $("#team-carousel").owlCarousel({
                autoPlay: 3200,
                items : 3,
                navigation: true,
                itemsDesktopSmall : [1024,3],
                itemsTablet : [768,2],
                itemsMobile : [500,1],
                pagination: false
            });

            $("#team-carousel-02, #carousel-boxes-2").owlCarousel({
                autoPlay: 3200,
                items : 2,
                navigation: false,
                itemsDesktopSmall : [1024,3],
                itemsTablet : [768,2],
                itemsMobile : [500,1],
                pagination: false
            });

            //=================================== Carousel Sponsor  ==================================//
            $("#sponsors").owlCarousel({
                autoPlay: 3200,
                items : 5,
                navigation: false,
                itemsDesktop : [1199,4],
                itemsDesktopSmall : [1024,4],
                itemsTablet : [768,3],
                itemsMobile : [500,2],
                pagination: true
            });

            //=================================== Carousel testimonials  ===============================//
            $("#testimonials").owlCarousel({
                items : 1,
                autoPlay: 3200,
                navigation : false,
                autoHeight : true,
                slideSpeed : 400,
                singleItem: true,
                pagination : true
            });
        </script>

    </section>
    <!-- End Content Central -->

    <!-- footer-->
    <footer id="footer" class="footer-v1">
        <div class="container">
            <div class="row">
                <!-- Title Footer-->
                <div class="col-md-5">
                    <div class="title-footer">
                        <h2>Save on your plans!
                            <br> <span>Select StaySelect Theme And Receive</span>
                            <br> our discounts by e-mail.</h2>
                    </div>

                    <p>You can choose your favorite destination and start planning your long-awaited vacation. We offer thousands of destinations and have a wide variety of hotels so that you can host and enjoy your stay without problems. Book now your trip stayselect.com.</p>
                </div>
                <!-- End Title Footer-->

                <div class="col-md-7">
                    <div class="row">
                        <!-- Social Us-->
                        <div class="col-md-3">
                            <h3>FOLLOW US</h3>
                            <ul class="social">
                                <li class="facebook"><span><i class="fa fa-facebook"></i></span><a href="#">Facebook</a></li>
                                <li class="twitter"><span><i class="fa fa-twitter"></i></span><a href="#">Twitter</a></li>
                                <li class="github"><span><i class="fa fa-github"></i></span><a href="#">Github</a></li>
                            </ul>
                        </div>
                        <!-- End Social Us-->

                        <!-- Recent links-->
                        <div class="col-md-5">
                            <h3>TRAVEL SPECIALISTS </h3>
                            <ul>
                                <li><i class="fa fa-check"></i> <a href="#">Golf Vacations</a></li>
                                <li><i class="fa fa-check"></i> <a href="#">Disney Parks Vacations</a></li>
                                <li><i class="fa fa-check"></i> <a href="#">Vacations As Advertised</a></li>
                            </ul>
                        </div>
                        <!-- End Recent links-->

                        <!-- Contact Us-->
                        <div class="col-md-4">
                            <h3>CONTACT US</h3>
                            <ul class="contact_footer">
                                <li>
                                    <i class="fa fa-envelope"></i> <a href="#">example@example.com</a>
                                </li>
                                <li>
                                    <i class="fa fa-headphones"></i> <a href="#">55-5698-4589</a>
                                </li>
                                <li class="location">
                                    <i class="fa fa-home"></i> <a href="#"> Av new stret - New York</a>
                                </li>
                            </ul>
                        </div>
                        <!-- Contact Us-->
                    </div>

                    <div class="divisor"></div>

                    <div class="row">
                        <!-- Newsletter-->
                        <div class="col-md-12">
                            <h3>NEWSLETTER SIGN UP</h3>
                            <form id="newsletterForm" action="php/mailchip/newsletter-subscribe.php">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                            <input class="form-control" placeholder="Your Name" name="name" type="text" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                            <input class="form-control" placeholder="Your  Email" name="email" type="email" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="submit" name="subscribe">SIGN UP</button>
                                                </span>
                                    </div>
                                </div>
                            </form>
                            <div id="result-newsletter"></div>
                        </div>
                        <!-- end Newsletter-->
                    </div>
                </div>
            </div>
        </div>

        <!-- footer Down-->
        <div class="footer-down">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <p>&copy; 2015 Innotical Solution . All Rights Reserved.  2010 - 2015</p>
                    </div>
                    <div class="col-md-7">
                        <!-- Nav Footer-->
                        <ul class="nav-footer">
                            <li><a href="index.html">HOME</a> </li>
                            <li><a href="hotel-index.html">HOTELS</a></li>
                            <li><a href="flight-index.html">FLIGHTS</a></li>
                            <li><a href="car-index.html">CARS</a></li>
                            <li><a href="cruice-index.html">CRUICES</a></li>
                            <li><a href="contact.html">CONTACT</a></li>
                        </ul>
                        <!-- End Nav Footer-->
                    </div>
                </div>
            </div>
        </div>
        <!-- footer Down-->
    </footer>
    <!-- End footer-->


