<!-- Header-->
<header id="header" class="header-v1">
    <!-- Main Nav -->
    <nav class="flat-mega-menu">
        <!-- flat-mega-menu class -->
        <label for="mobile-button"> <i class="fa fa-bars"></i></label><!-- mobile click button to show menu -->
        <input id="mobile-button" type="checkbox">

        <ul class="collapse"><!-- collapse class for collapse the drop down -->
            <!-- website title - Logo class -->
            <li class="title">
                <a href="#"><span>T</span>ravelia<span>.</span></a>
                <i class="fa fa-rocket"></i>
            </li>
            <!-- End website title - Logo class -->

            <li><a href="home">HOME</a>
                <!--<div class="drop-down two-column hover-fade">&lt;!&ndash; drop down with two columns &ndash;&gt;
                    <ul>&lt;!&ndash; column one &ndash;&gt;
                        <li><a href="index.html">Home Version 1</a></li>
                        <li><a href="index-v2.html">Home Version 2</a></li>
                        <li><a href="index-v3.html">Home Version 3</a></li>
                        <li><a href="index-v4.html">Home Version 4</a></li>
                    </ul>

                    <ul>&lt;!&ndash; column two &ndash;&gt;
                        <li><a href="hotel-index.html">Home Hotels</a> </li>
                        <li> <a href="flight-index.html">Home Flights</a> </li>
                    </ul>
                </div>-->
            </li>

            <li> <a href="hotels">HOTELS</a>
                <!--<ul class="drop-down one-column hover-fade">&lt;!&ndash; first level drop down &ndash;&gt;
                    <li><a href="hotel-index.html">Home Hotels</a></li>
                    <li><a href="hotel-list-view.html">List View</a></li>
                    <li><a href="hotel-grid-view.html">Grid View</a></li>
                    <li><a href="hotel-detailed.html">Detailed</a></li>
                </ul>-->
            </li>

            <li> <a href="#">ABOUT US</a>
                <!--<ul class="drop-down one-column hover-fade">&lt;!&ndash; first level drop down &ndash;&gt;
                    <li><a href="template-about-1.html">About Us 1</a> </li>
                    <li><a href="template-about-2.html">About us 2</a> </li>
                </ul>-->
            </li>

            <li> <a href="#">SERVICES</a>
                <!--<ul class="drop-down one-column hover-fade">&lt;!&ndash; first level drop down &ndash;&gt;
                    <li><a href="template-service-1.html">Services 1</a> </li>
                    <li><a href="template-service-2.html">Services 2</a> </li>
                </ul>-->
            </li>

            <li> <a href="#">GALLERY</a>
                <!--<ul class="drop-down one-column hover-fade">&lt;!&ndash; first level drop down &ndash;&gt;
                    <li><a href="template-gallery-4.html">Gallery 4 Column</a> </li>
                    <li><a href="template-gallery-3.html">Gallery 3 Columns</a> </li>
                    <li><a href="template-gallery-2.html">Gallery 2 Columns</a> </li>
                </ul>-->
            </li>

            <li> <a href="#">PACKAGES</a>
                <!--<div class="drop-down full-width hover-fade">&lt;!&ndash; full width drop down with 4 columns + images &ndash;&gt;
                    <ul>&lt;!&ndash; column one &ndash;&gt;
                        <li>
                            <h2><span>Punta</span> Cana</h2>
                            <a href="packages-index.html"><img src="img/gallery-2/1.jpg" alt="image 1"> </a>
                            <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales.</p>
                            <a href="packages-index.html" class="btn btn-primary">View Details</a>
                        </li>
                    </ul>

                    <ul>&lt;!&ndash; column two &ndash;&gt;
                        <li>
                            <h2><span>Santa</span> Marta</h2>
                            <a href="packages-index.html"><img src="img/gallery-2/2.jpg" alt="image 1"> </a>
                            <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales.</p>
                            <a href="packages-index.html" class="btn btn-primary">View Details</a>
                        </li>
                    </ul>

                    <ul>&lt;!&ndash; column three &ndash;&gt;
                        <li>
                            <h2><span>Isla</span> de San Andres</h2>
                            <a href="packages-index.html"><img src="img/gallery-2/3.jpg" alt="image 1"> </a>
                            <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales.</p>
                            <a href="packages-index.html" class="btn btn-primary">View Details</a>
                        </li>
                    </ul>

                    <ul>&lt;!&ndash; column four &ndash;&gt;
                        <li>
                            <h2><span>Cartagena</span> de Indias</h2>
                            <a href="packages-index.html"><img src="img/gallery-2/4.jpg" alt="image 1"> </a>
                            <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales.</p>
                            <a href="packages-index.html" class="btn btn-primary">View Details</a>
                        </li>
                    </ul>
                </div>-->
            </li>

            <li> <a href="#">FEATURES</a>
                <!--<div class="drop-down full-width hover-fade">&lt;!&ndash; full width drop down with 4 columns &ndash;&gt;
                    <ul>&lt;!&ndash; column One &ndash;&gt;
                        <li><h2>Templates</h2></li>
                        <li><a href="template-about-1.html">About Us 1</a> </li>
                        <li><a href="template-about-2.html">About us 2</a> </li>
                        <li><a href="template-service-1.html">Services 1</a> </li>
                        <li><a href="template-service-2.html">Services 2</a> </li>
                        <li><a href="template-gallery-4.html">Gallery 4 Column</a> </li>
                        <li><a href="template-gallery-3.html">Gallery 3 Columns</a> </li>
                        <li><a href="template-gallery-2.html">Gallery 2 Columns</a> </li>
                        <li><a href="template-blog-right.html">Blog Right Sidebar</a> </li>
                        <li><a href="template-blog-left.html">Blog Left Sidebar</a> </li>
                    </ul>

                    <ul>&lt;!&ndash; column Two &ndash;&gt;
                        <li><h2>Templates</h2></li>
                        <li><a href="template-blog-full.html">Blog Full Width</a> </li>
                        <li><a href="template-blog-read.html">Blog Read</a> </li>
                        <li><a href="template-faq.html">Page Faq Questions</a> </li>
                        <li><a href="page-full-widht.html">Page Full Widht</a> </li>
                        <li><a href="page-left.html">Page Left Sidebar</a> </li>
                        <li><a href="page-right.html">Page Right Sidebar</a> </li>
                        <li><a href="page-404.html">Page 404</a> </li>
                        <li><a href="page-site-map.html">Page Site Map</a> </li>
                        <li><a href="princing-tables.html">Princing tables</a> </li>
                    </ul>

                    <ul>&lt;!&ndash; column three &ndash;&gt;
                        <li><h2>Features</h2></li>
                        <li><a href="feature-header-1.html">Header Version 1</a> </li>
                        <li><a href="feature-header-2.html">Header Version 2</a> </li>
                        <li><a href="feature-header-3.html">Header Version 3</a> </li>
                        <li><a href="feature-header-4.html">Header Version 4</a> </li>
                        <li><a href="feature-footer-1.html#footer">Footer Version 1</a> </li>
                        <li><a href="feature-footer-2.html#footer">Footer Version 2</a> </li>
                        <li><a href="feature-footer-3.html#footer">Footer Version 3</a> </li>
                        <li><a href="feature-footer-4.html#footer">Footer Version 4</a> </li>
                        <li><a href="feature-background-sections.html">Background sections</a> </li>
                    </ul>

                    <ul>&lt;!&ndash; column four &ndash;&gt;
                        <li><h2>Elements</h2></li>
                        <li><a href="feature-grid-system.html">Grid System</a> </li>
                        <li><a href="feature-typograpy.html">Typograpy</a> </li>
                        <li><a href="feature-icons.html">Icons</a> </li>
                        <li class="icon-big-nav"><i class="fa fa-rocket"></i></li>&lt;!&ndash; Icon big nav &ndash;&gt;
                    </ul>
                </div>-->
            </li>

            <li>
                <a href="#">CONTACT</a>
            </li>

            <li class="social-bar"> <a href="#">FOLLOW US</a>
                <ul class="drop-down hover-zoom">
                    <li> <a href="#" target="_blank"><i class="fa fa-flickr"></i> </a> </li>
                    <li> <a href="#" target="_blank"><i class="fa fa-instagram"></i> </a> </li>
                    <li> <a href="#" target="_blank"><i class="fa fa-youtube"></i> </a> </li>
                    <li> <a href="#" target="_blank"><i class="fa fa-facebook"></i> </a> </li>
                    <li> <a href="#" target="_blank"><i class="fa fa-google-plus"></i> </a> </li>
                    <li> <a href="#" target="_blank"><i class="fa fa-pinterest"></i> </a> </li>
                </ul>
            </li>

            <li class="login-form"> <i class="fa fa-user"></i><!-- login form -->
                <ul class="drop-down hover-expand">
                    <li>
                        <form method="post" action="#">
                            <table>
                                <tr>
                                    <td colspan="2">
                                        <input type="email" required="required" name="email" placeholder="Your email address">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="password" required="required" name="password" placeholder="Password">
                                    </td>
                                </tr>
                                <tr>
                                    <td> <input type="submit" value="Login"> </td>
                                    <td> <label> <input type="checkbox" name="check_box"> Keep me signed in </label> </td>
                                </tr>
                            </table>
                        </form>
                    </li>
                </ul>
            </li>

            <li class="search-bar"> <i class="fa fa-search"></i><!-- search bar -->
                <ul class="drop-down hover-expand">
                    <li>
                        <form method="post" action="#">
                            <table>
                                <tr>
                                    <td> <input type="search" required="required" name="serach_bar" placeholder="Type Keyword Here"> </td>
                                    <td> <input type="submit" value="Search"> </td>
                                </tr>
                            </table>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- Main Nav -->
</header>
<!-- End Header-->

<!-- Section Title-->
<div class="section-title-01">
    <!-- Parallax Background -->
    <div class="bg_parallax image_04_parallax"></div>
    <!-- Parallax Background -->

    <!-- Content Parallax-->
    <div class="opacy_bg_02">
        <div class="container">
            <h1>Hotel List View</h1>
            <div class="crumbs">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li>/</li>
                    <li>Hotels</li>
                    <li>/</li>
                    <li>Hotel List View</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Content Parallax-->
</div>
<!-- End Section Title-->

<!--Content Central -->
<div class="content-central">
    <!-- Shadow Semiboxed -->
    <div class="semiboxshadow text-center">
        <img src="{{static_path}}lib/img/img-theme/shp.png" class="img-responsive" alt="">
    </div>
    <!-- End Shadow Semiboxed -->

    <!-- End content info - page Fill with -->
    <div class="content_info">
        <div class="container">
            <div class="row">
                <!-- Left Sidebar-->
                <div class="col-md-3">
                    <div class="container-by-widget-filter bg-dark color-white">
                        <!-- Widget Filter -->
                        <aside class="widget padding-top-mini">
                            <h3 class="title-widget">Search</h3>

                            <!-- FILTER widget-->
                            <div class="filter-widget">
                                <form action="#">
                                    <input type="text" required="required" placeholder="Where do you want to go?" class="input-large">
                                    <input type="text" required="required" placeholder="Check In" class="date-input">
                                    <input type="text" required="required" placeholder="Check Out" class="date-input">
                                    <div class="selector">
                                        <select class="guests-input">
                                            <option value="1">1 Guests</option>
                                            <option value="2">2 Guests</option>
                                            <option value="3">3 Guests</option>
                                            <option value="4">4 Guests</option>
                                            <option value="5">5+ Guests</option>
                                        </select>
                                        <span class="custom-select">Guests</span>
                                    </div>
                                    <input type="submit" value="Search">
                                </form>
                            </div>
                            <!-- END FILTER widget-->
                        </aside>
                        <!-- End Widget Filter -->

                        <!-- Widget Filter Price Range-->
                        <aside class="widget">
                            <h3 class="title-widget">Refine your results:</h3>
                            <h4>Price Range:</h4>
                            <b>$ 10</b> <b class="pull-right">$ 1000</b>
                            <input id="slider-range" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[0,800]"/>
                        </aside>
                        <!-- End Widget Filter Price Range-->

                        <!-- Widget Filter Stars-->
                        <aside class="widget">
                            <h4>Star Rating:</h4>
                            <ul class="starts">
                                <li><input type="checkbox" checked></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><span>5 Stars</span></li>
                            </ul>

                            <ul class="starts">
                                <li><input type="checkbox" checked></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                <li><span>4 Stars</span></li>
                            </ul>

                            <ul class="starts">
                                <li><input type="checkbox"></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                <li><span>3 Stars</span></li>
                            </ul>

                            <ul class="starts">
                                <li><input type="checkbox" checked></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                <li><span>2 Stars</span></li>
                            </ul>

                            <ul class="starts">
                                <li><input type="checkbox"></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                <li><span>1 Stars</span></li>
                            </ul>
                        </aside>
                        <!-- End Widget Filter Stars-->

                        <!-- Widget Filter Radio -->
                        <aside class="widget">
                            <h4>Acomodation type </h4>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked>
                                    All
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Hotel
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Bed &amp; Breakfast
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Apartment
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Condo
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    All-Inclusive Resort
                                </label>
                            </div>
                        </aside>
                        <!-- End Widget Filter Radio -->

                        <!-- Widget Filter checkbox -->
                        <aside class="widget">
                            <h4>Hotel Preferences</h4>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">High-speed Internet (41)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Air conditioning (52)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Swimming pool (55)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Childcare (12)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Fitness equipment (49)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Free breakfast (14)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Free parking (11)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Hair dryer (48)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Pets allowed (16)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Restaurant in hotel (47)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Room service (38)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Spa services on site (57)
                                </label>
                            </div>
                        </aside>
                        <!-- End Widget Filter checkbox -->
                    </div>
                </div>
                <!-- End Left Sidebar-->

                <div class="col-md-9">
                    <!-- Title Results-->
                    <div class="title-results">
                        <h3>41 Hotels starting at $56 Narrow results or <a href="#">view all</a></h3>
                    </div>
                    <!-- End Title Results-->

                    <!-- sort-by-container-->
                    <div class="sort-by-container tooltip-hover">
                        <div class="row">
                            <div class="col-md-9">
                                <strong>Sort by:</strong>
                                <ul>
                                    <li>
                                        <div class="selector">
                                            <select>
                                                <option value="5">5 Starts</option>
                                                <option value="4">4 Starts</option>
                                                <option value="3">3 Starts</option>
                                                <option value="2">2 Starts</option>
                                                <option value="1">1 Starts</option>
                                            </select>
                                            <span class="custom-select">Users Rating</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="selector">
                                            <select>
                                                <option value="1">A To Z</option>
                                                <option value="2">Z To A</option>
                                            </select>
                                            <span class="custom-select">Name</span>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="selector">
                                            <select>
                                                <option value="1">Sort Ascending</option>
                                                <option value="2">Sort Descending</option>
                                            </select>
                                            <span class="custom-select">Price</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <ul class="style-view">
                                    <li data-toggle="tooltip" title="" data-original-title="BOX VIEW">
                                        <a href="#" ng-click="isListView =false">
                                            <i class="fa fa-th-large"></i>
                                        </a>
                                    </li>
                                    <li data-toggle="tooltip" title="" data-original-title="LIST VIEW" class="active">
                                        <a href="#" ng-click="isListView =true">
                                            <i class="fa fa-list"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- sort-by-container-->



                    <!-- Item Gallery List View-->
                    <div class="row list-view" ng-show="isListView">
                        <!-- Item Gallery List View-->
                        <div class="col-md-12">
                            <div class="img-hover">
                                <img src="{{static_path}}lib/img/hotel-img/9.jpg" alt="" class="img-responsive">
                                <div class="overlay"><a href="{{static_path}}lib/img/hotel-img/9.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                            </div>

                            <div class="info-gallery">
                                <h3>
                                    Hotel Royal National<br>
                                    <span>Gran Londres (Gran Bretaña)</span>
                                </h3>
                                <hr class="separator">
                                <p>The Royal National is in London near Covent Garden and 100 meters from the British Museum.</p>
                                <ul class="starts">
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                </ul>
                                <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                <div class="price"><span>$</span><b>From</b>110</div>
                            </div>
                        </div>
                        <!-- End Item Gallery List View-->

                        <!-- Item Gallery List View-->
                        <div class="col-md-12">
                            <div class="img-hover">
                                <img src="{{static_path}}lib/img/hotel-img/9.jpg" alt="" class="img-responsive">
                                <div class="overlay"><a href="{{static_path}}lib/img/hotel-img/9.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                            </div>

                            <div class="info-gallery">
                                <h3>
                                    Hotel Holiday Inn Bilba<br>
                                    <span>Bilbao , Vizcaya (España) </span>
                                </h3>
                                <hr class="separator">
                                <p>The Holiday Inn Bilbao is in a prime location next to the Basilica of Begoña and the historical town of Bilbao.</p>
                                <ul class="starts">
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                </ul>
                                <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                <div class="price"><span>$</span><b>From</b>254</div>

                            </div>
                        </div>
                        <!-- End Item Gallery List View-->

                        <!-- Item Gallery List View-->
                        <div class="col-md-12">
                            <div class="img-hover">
                                <img src="{{static_path}}lib/img/hotel-img/10.jpg" alt="" class="img-responsive">
                                <div class="overlay"><a href="{{static_path}}lib/img/hotel-img/10.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                            </div>

                            <div class="info-gallery">
                                <h3>
                                    Angleterre Hotel<br>
                                    <span>Berlín (Alemania)</span>
                                </h3>
                                <hr class="separator">
                                <p>The spacious rooms have a bathroom with hairdryer, direct dial telephone, minibar, satellite or cable, radio, Internet access and a double bed.</p>
                                <ul class="starts">
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                </ul>
                                <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                <div class="price"><span>$</span><b>From</b>160</div>

                            </div>
                        </div>
                        <!-- End Item Gallery List View-->

                        <!-- Item Gallery List View-->
                        <div class="col-md-12">
                            <div class="img-hover">
                                <img src="{{static_path}}lib/img/hotel-img/11.jpg" alt="" class="img-responsive">
                                <div class="overlay"><a href="{{static_path}}lib/img/hotel-img/11.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                            </div>

                            <div class="info-gallery">
                                <h3>
                                    Hotel Golden Bahía De Tossa<br>
                                    <span>Tossa de Mar , Girona (España)</span>
                                </h3>
                                <hr class="separator">
                                <p>The Golden Bay, heated and opened in 2003, comprises a main building of five floors with a total of 380 rooms.</p>
                                <ul class="starts">
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o"></i></a></li>
                                </ul>
                                <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                <div class="price"><span>$</span><b>From</b>175</div>

                            </div>
                        </div>
                        <!-- End Item Gallery List View-->

                        <!-- Item Gallery List View-->
                        <div class="col-md-12">
                            <div class="img-hover">
                                <img src="{{static_path}}lib/img/hotel-img/12.jpg" alt="" class="img-responsive">
                                <div class="overlay"><a href="{{static_path}}lib/img/hotel-img/12.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                            </div>

                            <div class="info-gallery">
                                <h3>
                                    Hotel Ms Maestranza Malaga<br>
                                    <span>Avda. Cánovas del Castillo, 1, Málaga (España) </span>
                                </h3>
                                <hr class="separator">
                                <p>Hotel MS Maestranza is located in the Malagueta (Malaga center), in a privileged area next to the bullring.</p>
                                <ul class="starts">
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                </ul>
                                <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                <div class="price"><span>$</span><b>From</b>220</div>

                            </div>
                        </div>
                        <!-- End Item Gallery List View-->

                        <!-- pagination-->
                        <div class="col-md-12">
                            <ul class="pagination">
                                <li><a href="#">«</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                        <!-- End pagination-->
                    </div>
                    <!-- End Item Gallery Grid View-->






                    <!-- Item Gallery Grid View-->
                    <div class="row" ng-show="!isListView">
                        <!-- Item Gallery-->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="img-hover">
                                <img src="{{static_path}}lib/img/hotel-img/13.jpg" alt="" class="img-responsive">
                                <div class="overlay"><a href="{{static_path}}lib/img/hotel-img/13.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                            </div>

                            <div class="info-gallery">
                                <h3>
                                    The Large Everest Mount<br>
                                    <span>HIMALAYA MOUNTAINS</span>
                                </h3>
                                <hr class="separator">
                                <p>The Royal National is in London near Covent Garden and 100 meters.</p>
                                <ul class="starts">
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                </ul>
                                <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                <div class="price"><span>$</span><b>From</b>45</div>
                            </div>
                        </div>
                        <!-- End Item Gallery-->

                        <!-- Item Gallery-->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="img-hover">
                                <img src="{{static_path}}lib/img/hotel-img/14.jpg" alt="" class="img-responsive">
                                <div class="overlay"><a href="{{static_path}}lib/img/hotel-img/14.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                            </div>

                            <div class="info-gallery">
                                <h3>
                                    Chinese Mountains<br>
                                    <span>ORIENTAL NATURE</span>
                                </h3>
                                <hr class="separator">
                                <p>The Holiday Inn Bilbao is in a prime location next to the Basilica of Begoña.</p>
                                <ul class="starts">
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                </ul>
                                <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                <div class="price"><span>$</span><b>From</b>25</div>

                            </div>
                        </div>
                        <!-- End Item Gallery-->

                        <!-- Item Gallery-->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="img-hover">
                                <img src="{{static_path}}lib/img/hotel-img/15.jpg" alt="" class="img-responsive">
                                <div class="overlay"><a href="{{static_path}}lib/img/hotel-img/15.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                            </div>

                            <div class="info-gallery">
                                <h3>
                                    Polynesia Bora Bora<br>
                                    <span>FRENCH ISLANDS</span>
                                </h3>
                                <hr class="separator">
                                <p>The spacious rooms have a bathroom with hairdryer, direct dial telephone.</p>
                                <ul class="starts">
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                </ul>
                                <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                <div class="price"><span>$</span><b>From</b>60</div>

                            </div>
                        </div>
                        <!-- End Item Gallery-->

                        <!-- Item Gallery-->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="img-hover">
                                <img src="{{static_path}}lib/img/hotel-img/16.jpg" alt="" class="img-responsive">
                                <div class="overlay"><a href="{{static_path}}lib/img/hotel-img/16.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                            </div>

                            <div class="info-gallery">
                                <h3>
                                    Tayrona Park<br>
                                    <span>SANTA MARTA COLOMBIA</span>
                                </h3>
                                <hr class="separator">
                                <p>The Golden Bay, heated and opened in 2003, comprises a main building.</p>
                                <ul class="starts">
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                </ul>
                                <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                <div class="price"><span>$</span><b>From</b>75</div>

                            </div>
                        </div>
                        <!-- End Item Gallery-->

                        <!-- Item Gallery-->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="img-hover">
                                <img src="{{static_path}}lib/img/hotel-img/17.jpg" alt="" class="img-responsive">
                                <div class="overlay"><a href="{{static_path}}lib/img/hotel-img/17.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                            </div>

                            <div class="info-gallery">
                                <h3>
                                    Extreme Mountains<br>
                                    <span>CLIMB TO THE TOP</span>
                                </h3>
                                <hr class="separator">
                                <p>Hotel MS Maestranza is located in the Malagueta (Malaga center).</p>
                                <ul class="starts">
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                </ul>
                                <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                <div class="price"><span>$</span><b>From</b>20</div>

                            </div>
                        </div>
                        <!-- End Item Gallery-->

                        <!-- Item Gallery-->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="img-hover">
                                <img src="{{static_path}}lib/img/hotel-img/18.jpg" alt="" class="img-responsive">
                                <div class="overlay"><a href="{{static_path}}lib/img/hotel-img/18.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                            </div>

                            <div class="info-gallery">
                                <h3>
                                    Tower Eiffel<br>
                                    <span>ITALIE FRANCE</span>
                                </h3>
                                <hr class="separator">
                                <p>The Golden Bay, heated and opened in 2003, comprises a main building.</p>
                                <ul class="starts">
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                </ul>
                                <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                <div class="price"><span>$</span><b>From</b>15</div>

                            </div>
                        </div>
                        <!-- End Item Gallery-->

                        <!-- Item Gallery-->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="img-hover">
                                <img src="{{static_path}}lib/img/hotel-img/19.jpg" alt="" class="img-responsive">
                                <div class="overlay"><a href="{{static_path}}lib/img/hotel-img/19.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                            </div>

                            <div class="info-gallery">
                                <h3>
                                    Italy Park<br>
                                    <span>SANTA MARTA COLOMBIA</span>
                                </h3>
                                <hr class="separator">
                                <p>The Holiday Inn Bilbao is in a prime location next to the Basilica of Begoña.</p>
                                <ul class="starts">
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                </ul>
                                <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                <div class="price"><span>$</span><b>From</b>75</div>

                            </div>
                        </div>
                        <!-- End Item Gallery-->

                        <!-- Item Gallery-->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="img-hover">
                                <img src="{{static_path}}lib/img/hotel-img/20.jpg" alt="" class="img-responsive">
                                <div class="overlay"><a href="{{static_path}}lib/img/hotel-img/20.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                            </div>

                            <div class="info-gallery">
                                <h3>
                                    Everst Mountains<br>
                                    <span>CLIMB TO THE TOP</span>
                                </h3>
                                <hr class="separator">
                                <p>The Golden Bay, heated and opened in 2003, comprises a main building.</p>
                                <ul class="starts">
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                </ul>
                                <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                <div class="price"><span>$</span><b>From</b>20</div>

                            </div>
                        </div>
                        <!-- End Item Gallery-->

                        <!-- Item Gallery-->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="img-hover">
                                <img src="{{static_path}}lib/img/hotel-img/21.jpg" alt="" class="img-responsive">
                                <div class="overlay"><a href="{{static_path}}lib/img/hotel-img/21.jpg" class="fancybox"><i class="fa fa-plus-circle"></i></a></div>
                            </div>

                            <div class="info-gallery">
                                <h3>
                                    Tower Eiffel<br>
                                    <span>ITALIE FRANCE</span>
                                </h3>
                                <hr class="separator">
                                <p>The spacious rooms have a bathroom with hairdryer, direct dial telephone.</p>
                                <ul class="starts">
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                                </ul>
                                <div class="content-btn"><a href="#" class="btn btn-primary">View Details</a></div>
                                <div class="price"><span>$</span><b>From</b>15</div>

                            </div>
                        </div>
                        <!-- End Item Gallery-->
                    </div>
                    <!-- End Item Gallery Grid View-->



                </div>
            </div>
        </div>
    </div>
    <!-- End content info - page Fill with  -->
</div>
<!-- End Content Central -->

<!-- footer-->
<footer id="footer" class="footer-v1">
    <div class="container">
        <div class="row">
            <!-- Title Footer-->
            <div class="col-md-5">
                <div class="title-footer">
                    <h2>Save on your plans!
                        <br> <span>Select StaySelect Theme And Receive</span>
                        <br> our discounts by e-mail.</h2>
                </div>

                <p>You can choose your favorite destination and start planning your long-awaited vacation. We offer thousands of destinations and have a wide variety of hotels so that you can host and enjoy your stay without problems. Book now your trip stayselect.com.</p>
            </div>
            <!-- End Title Footer-->

            <div class="col-md-7">
                <div class="row">
                    <!-- Social Us-->
                    <div class="col-md-3">
                        <h3>FOLLOW US</h3>
                        <ul class="social">
                            <li class="facebook"><span><i class="fa fa-facebook"></i></span><a href="#">Facebook</a></li>
                            <li class="twitter"><span><i class="fa fa-twitter"></i></span><a href="#">Twitter</a></li>
                            <li class="github"><span><i class="fa fa-github"></i></span><a href="#">Github</a></li>
                        </ul>
                    </div>
                    <!-- End Social Us-->

                    <!-- Recent links-->
                    <div class="col-md-5">
                        <h3>TRAVEL SPECIALISTS </h3>
                        <ul>
                            <li><i class="fa fa-check"></i> <a href="#">Golf Vacations</a></li>
                            <li><i class="fa fa-check"></i> <a href="#">Disney Parks Vacations</a></li>
                            <li><i class="fa fa-check"></i> <a href="#">Vacations As Advertised</a></li>
                        </ul>
                    </div>
                    <!-- End Recent links-->

                    <!-- Contact Us-->
                    <div class="col-md-4">
                        <h3>CONTACT US</h3>
                        <ul class="contact_footer">
                            <li>
                                <i class="fa fa-envelope"></i> <a href="#">example@example.com</a>
                            </li>
                            <li>
                                <i class="fa fa-headphones"></i> <a href="#">55-5698-4589</a>
                            </li>
                            <li class="location">
                                <i class="fa fa-home"></i> <a href="#"> Av new stret - New York</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Contact Us-->
                </div>

                <div class="divisor"></div>

                <div class="row">
                    <!-- Newsletter-->
                    <div class="col-md-12">
                        <h3>NEWSLETTER SIGN UP</h3>
                        <form id="newsletterForm" action="php/mailchip/newsletter-subscribe.php">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                        <input class="form-control" placeholder="Your Name" name="name" type="text" required="required">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                        <input class="form-control" placeholder="Your  Email" name="email" type="email" required="required">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="submit" name="subscribe">SIGN UP</button>
                                            </span>
                                </div>
                            </div>
                        </form>
                        <div id="result-newsletter"></div>
                    </div>
                    <!-- end Newsletter-->
                </div>
            </div>
        </div>
    </div>

    <!-- footer Down-->
    <div class="footer-down">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <p>&copy; 2015 Innotical Solution . All Rights Reserved.  2010 - 2015</p>
                </div>
                <div class="col-md-7">
                    <!-- Nav Footer-->
                    <ul class="nav-footer">
                        <li><a href="index.html">HOME</a> </li>
                        <li><a href="hotel-index.html">HOTELS</a></li>
                        <li><a href="flight-index.html">FLIGHTS</a></li>
                        <li><a href="car-index.html">CARS</a></li>
                        <li><a href="cruice-index.html">CRUICES</a></li>
                        <li><a href="contact.html">CONTACT</a></li>
                    </ul>
                    <!-- End Nav Footer-->
                </div>
            </div>
        </div>
    </div>
    <!-- footer Down-->
</footer>
<!-- End footer-->


























