<!DOCTYPE html>
<html ng-app="staySelect">
<head>
    <meta charset="utf-8">
    <title>StaySelect - India Largest Hotel Booking Agency, </title>
    {% load static from staticfiles %}
    <!--<base href="/" />-->
    <meta name="keywords" content="Hotel Booking Website" />
    <meta name="description" content="StaySelect - India Largest Hotel Booking Agency">
    <meta name="author" content="innotical.com">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'stylesheets.html' %}
    <!--<style>
        .splash {
            display: none;
        }

        [ng-cloak].splash {
            display: block !important;
        }

        .splash {
            position: absolute;
            top: 0;
            left: 0;
            height:100%;
            width:100%;
            filter: alpha(opacity=60);
            /*opacity: 0.1;*/
            background: #000 ;
            z-index: 100000000000;
        }

        .splash h2 {
            text-align: center;
            font-size: 4em;
            color:white;
        }



        .fade {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            opacity: 1;
        }
        .fade.ng-enter {
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
        }
        .fade.ng-leave {
            -webkit-transition: all 1000ms ease;
            transition: all 1000ms ease;
        }
        .fade.ng-enter {
            opacity: 0;
            -webkit-transform: scale(0);
        }
        .fade.ng-enter-active {
            opacity: 1;
            -webkit-transform: scale(1);
        }
        .fade.ng-leave {
            opacity: 1;
            -webkit-transform: scale(1);
        }
        .fade.ng-leave-active {
            opacity: 0;
            -webkit-transform: scale(0);
        }
    </style>-->
</head>


{% verbatim %}

<body>
<!--<div class="splash" ng-cloak="">
    <h2>Loading........ </h2>

</div>-->
<!--Preloader-->
<div class="preloader">
    <div class="status">&nbsp;</div>
</div>
<!--End Preloader-->



<!-- End Theme-options -->
<div id="layout" ui-view>

</div>



  {% endverbatim %}
  {% include 'javascripts.html' %}

</body>

</html>
