{% load staticfiles %}
    <!--<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>-->
    <script src="{% static 'lib/js/jquery.js' %}"></script>
    <script src="{% static 'lib/js/jquery-ui.1.10.4.min.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('.tp-banner').show().revolution({
            dottedOverlay:"none",
            delay:5000,
            startwidth:1170,
            startheight:925,
            minHeight:500,
            navigationType:"none",
            navigationArrows:"solo",
            navigationStyle:"preview1"
        });
    });
</script>

    <script src="{% static 'bower_components/angular/angular.js' %}"></script>
    <script src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>


    <script src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.js' %}"></script>





    <!--Nav-->
    <script src="{% static 'lib/js/nav/jquery.sticky.js' %}" type="text/javascript"></script>
    <!--Totop-->
    <script type="text/javascript" src="{% static 'lib/js/totop/jquery.ui.totop.js' %}" ></script>
    <!--Accorodion-->
    <script type="text/javascript" src="{% static 'lib/js/accordion/accordion.js' %}" ></script>
    <!--Slide Revolution-->
    <script type="text/javascript" src="{% static 'lib/js/rs-plugin/js/jquery.themepunch.tools.min.js' %}" ></script>
    <script type='text/javascript' src="{% static 'lib/js/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
    <!-- Maps -->
    <script src="{% static 'lib/js/maps/gmap3.js' %}"></script>
    <!--Ligbox-->
    <script type="text/javascript" src="{% static 'lib/js/fancybox/jquery.fancybox.js' %}"></script>
    <!-- carousel.js-->
    <script src="{% static 'lib/js/carousel/carousel.js' %}"></script>
    <!-- Filter -->
    <script src="{% static 'lib/js/filters/jquery.isotope.js' %}" type="text/javascript"></script>
    <!-- Twitter Feed-->
    <script src="{% static 'lib/js/twitter/jquery.tweet.js' %}"></script>
    <!-- flickr Feed-->
    <script src="{% static 'lib/js/flickr/jflickrfeed.min.js' %}"></script>
    <!--Theme Options-->
    <script type="text/javascript" src="{% static 'lib/js/theme-options/theme-options.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/theme-options/jquery.cookies.js' %}"></script>
    <!-- Bootstrap.js-->
    <script type="text/javascript" src="{% static 'lib/js/bootstrap/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/js/bootstrap/bootstrap-slider.js' %}"></script>
    <!--MAIN FUNCTIONS-->
    <script type="text/javascript" src="{% static 'lib/js/main.js' %}"></script>
    <!-- ======================= End JQuery libs =========================== -->

    <!--Slider Function-->
    <!--<script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('.tp-banner').show().revolution({
                dottedOverlay:"none",
                delay:5000,
                startwidth:1170,
                startheight:925,
                minHeight:500,
                navigationType:"none",
                navigationArrows:"solo",
                navigationStyle:"preview1"
            });
        });
    </script>-->
    <!--End Slider Function-->


    <script src="{% static 'app.js' %}"></script>
    <script src="{% static 'staySelect.config.js' %}"></script>
    <script src="{% static 'staySelect.routes.js' %}"></script>

    <script src="{% static 'javascripts/index/staySelect.primary.module.js' %}"></script>
    <script src="{% static 'javascripts/index/controllers/staySelect.primary.controllers.js' %}"></script>
    <script src="{% static 'javascripts/index/services/staySelect.primary.services.js' %}"></script>
    <script src="{% static 'javascripts/index/directives/staySelect.primary.directives.js' %}"></script>

    <script src="{% static 'javascripts/hotels/staySelect.hotels.module.js' %}"></script>
    <script src="{% static 'javascripts/hotels/controllers/staySelect.hotels.controllers.js' %}"></script>
    <script src="{% static 'javascripts/hotels/services/staySelect.hotels.services.js' %}"></script>
    <script src="{% static 'javascripts/hotels/directives/staySelect.hotels.directives.js' %}"></script>

    <script src="{% static 'javascripts/hotel/staySelect.hotel.module.js' %}"></script>
    <script src="{% static 'javascripts/hotel/controllers/staySelect.hotel.controllers.js' %}"></script>
    <script src="{% static 'javascripts/hotel/services/staySelect.hotel.services.js' %}"></script>
    <script src="{% static 'javascripts/hotel/directives/staySelect.hotel.directives.js' %}"></script>


  

