
{% load staticfiles %}
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'lib/css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'lib/css/theme-responsive.css' %}">
    <!-- Skins Theme -->
    <!--<link rel="stylesheet" href="{% static 'lib/css/blue.css' %} ">-->
    <link rel="stylesheet" href="{% static 'lib/css/orange.css' %} ">
<!--
    <link rel="stylesheet" href="{% static 'bower_components/html5-boilerplate/css/normalize.css' %} ">
    <link rel="stylesheet" href="{% static 'bower_components/html5-boilerplate/css/main.css' %} ">
-->

    <script src="{% static 'lib/js/modernizr.js' %}"></script>
    <!--[if IE]>
    <link rel="stylesheet" href="{% static 'lib/css/ie/ie.css' %}">
    <![endif]-->

    <!--[if lte IE 8]>
    <script src="{% static 'lib/js/responsive/html5shiv.js' %}"></script>
    <script src="{% static 'lib/js/responsive/respond.js' %}"></script>
    <![endif]-->
    <!--<link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %} ">-->



