<!-- Header-->
<header id="header" class="header-v1">
    <!-- Main Nav -->
    <nav class="flat-mega-menu">
        <!-- flat-mega-menu class -->
        <label for="mobile-button"> <i class="fa fa-bars"></i></label><!-- mobile click button to show menu -->
        <input id="mobile-button" type="checkbox">

        <ul class="collapse"><!-- collapse class for collapse the drop down -->
            <!-- website title - Logo class -->
            <li class="title">
                <a href="index.html"><span>T</span>ravelia<span>.</span></a>
                <i class="fa fa-rocket"></i>
            </li>
            <!-- End website title - Logo class -->

            <li><a href="#">HOME</a>
                <!--<div class="drop-down two-column hover-fade">&lt;!&ndash; drop down with two columns &ndash;&gt;
                    <ul>&lt;!&ndash; column one &ndash;&gt;
                        <li><a href="index.html">Home Version 1</a></li>
                        <li><a href="index-v2.html">Home Version 2</a></li>
                        <li><a href="index-v3.html">Home Version 3</a></li>
                        <li><a href="index-v4.html">Home Version 4</a></li>
                    </ul>

                    <ul>&lt;!&ndash; column two &ndash;&gt;
                        <li><a href="hotel-index.html">Home Hotels</a> </li>
                        <li> <a href="flight-index.html">Home Flights</a> </li>
                    </ul>
                </div>-->
            </li>

            <li> <a href="hotels">HOTELS</a>
                <!--<ul class="drop-down one-column hover-fade">&lt;!&ndash; first level drop down &ndash;&gt;
                    <li><a href="hotel-index.html">Home Hotels</a></li>
                    <li><a href="hotel-list-view.html">List View</a></li>
                    <li><a href="hotel-grid-view.html">Grid View</a></li>
                    <li><a href="hotel-detailed.html">Detailed</a></li>
                </ul>-->
            </li>

            <li> <a href="#">ABOUT US</a>
                <!--<ul class="drop-down one-column hover-fade">&lt;!&ndash; first level drop down &ndash;&gt;
                    <li><a href="template-about-1.html">About Us 1</a> </li>
                    <li><a href="template-about-2.html">About us 2</a> </li>
                </ul>-->
            </li>

            <li> <a href="#">SERVICES</a>
                <!--<ul class="drop-down one-column hover-fade">&lt;!&ndash; first level drop down &ndash;&gt;
                    <li><a href="template-service-1.html">Services 1</a> </li>
                    <li><a href="template-service-2.html">Services 2</a> </li>
                </ul>-->
            </li>

            <li> <a href="#">GALLERY</a>
                <!--<ul class="drop-down one-column hover-fade">&lt;!&ndash; first level drop down &ndash;&gt;
                    <li><a href="template-gallery-4.html">Gallery 4 Column</a> </li>
                    <li><a href="template-gallery-3.html">Gallery 3 Columns</a> </li>
                    <li><a href="template-gallery-2.html">Gallery 2 Columns</a> </li>
                </ul>-->
            </li>

            <li> <a href="#">PACKAGES</a>
                <!--<div class="drop-down full-width hover-fade">&lt;!&ndash; full width drop down with 4 columns + images &ndash;&gt;
                    <ul>&lt;!&ndash; column one &ndash;&gt;
                        <li>
                            <h2><span>Punta</span> Cana</h2>
                            <a href="packages-index.html"><img src="img/gallery-2/1.jpg" alt="image 1"> </a>
                            <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales.</p>
                            <a href="packages-index.html" class="btn btn-primary">View Details</a>
                        </li>
                    </ul>

                    <ul>&lt;!&ndash; column two &ndash;&gt;
                        <li>
                            <h2><span>Santa</span> Marta</h2>
                            <a href="packages-index.html"><img src="img/gallery-2/2.jpg" alt="image 1"> </a>
                            <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales.</p>
                            <a href="packages-index.html" class="btn btn-primary">View Details</a>
                        </li>
                    </ul>

                    <ul>&lt;!&ndash; column three &ndash;&gt;
                        <li>
                            <h2><span>Isla</span> de San Andres</h2>
                            <a href="packages-index.html"><img src="img/gallery-2/3.jpg" alt="image 1"> </a>
                            <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales.</p>
                            <a href="packages-index.html" class="btn btn-primary">View Details</a>
                        </li>
                    </ul>

                    <ul>&lt;!&ndash; column four &ndash;&gt;
                        <li>
                            <h2><span>Cartagena</span> de Indias</h2>
                            <a href="packages-index.html"><img src="img/gallery-2/4.jpg" alt="image 1"> </a>
                            <p>Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales.</p>
                            <a href="packages-index.html" class="btn btn-primary">View Details</a>
                        </li>
                    </ul>
                </div>-->
            </li>

            <li> <a href="#">FEATURES</a>
                <!--<div class="drop-down full-width hover-fade">&lt;!&ndash; full width drop down with 4 columns &ndash;&gt;
                    <ul>&lt;!&ndash; column One &ndash;&gt;
                        <li><h2>Templates</h2></li>
                        <li><a href="template-about-1.html">About Us 1</a> </li>
                        <li><a href="template-about-2.html">About us 2</a> </li>
                        <li><a href="template-service-1.html">Services 1</a> </li>
                        <li><a href="template-service-2.html">Services 2</a> </li>
                        <li><a href="template-gallery-4.html">Gallery 4 Column</a> </li>
                        <li><a href="template-gallery-3.html">Gallery 3 Columns</a> </li>
                        <li><a href="template-gallery-2.html">Gallery 2 Columns</a> </li>
                        <li><a href="template-blog-right.html">Blog Right Sidebar</a> </li>
                        <li><a href="template-blog-left.html">Blog Left Sidebar</a> </li>
                    </ul>

                    <ul>&lt;!&ndash; column Two &ndash;&gt;
                        <li><h2>Templates</h2></li>
                        <li><a href="template-blog-full.html">Blog Full Width</a> </li>
                        <li><a href="template-blog-read.html">Blog Read</a> </li>
                        <li><a href="template-faq.html">Page Faq Questions</a> </li>
                        <li><a href="page-full-widht.html">Page Full Widht</a> </li>
                        <li><a href="page-left.html">Page Left Sidebar</a> </li>
                        <li><a href="page-right.html">Page Right Sidebar</a> </li>
                        <li><a href="page-404.html">Page 404</a> </li>
                        <li><a href="page-site-map.html">Page Site Map</a> </li>
                        <li><a href="princing-tables.html">Princing tables</a> </li>
                    </ul>

                    <ul>&lt;!&ndash; column three &ndash;&gt;
                        <li><h2>Features</h2></li>
                        <li><a href="feature-header-1.html">Header Version 1</a> </li>
                        <li><a href="feature-header-2.html">Header Version 2</a> </li>
                        <li><a href="feature-header-3.html">Header Version 3</a> </li>
                        <li><a href="feature-header-4.html">Header Version 4</a> </li>
                        <li><a href="feature-footer-1.html#footer">Footer Version 1</a> </li>
                        <li><a href="feature-footer-2.html#footer">Footer Version 2</a> </li>
                        <li><a href="feature-footer-3.html#footer">Footer Version 3</a> </li>
                        <li><a href="feature-footer-4.html#footer">Footer Version 4</a> </li>
                        <li><a href="feature-background-sections.html">Background sections</a> </li>
                    </ul>

                    <ul>&lt;!&ndash; column four &ndash;&gt;
                        <li><h2>Elements</h2></li>
                        <li><a href="feature-grid-system.html">Grid System</a> </li>
                        <li><a href="feature-typograpy.html">Typograpy</a> </li>
                        <li><a href="feature-icons.html">Icons</a> </li>
                        <li class="icon-big-nav"><i class="fa fa-rocket"></i></li>&lt;!&ndash; Icon big nav &ndash;&gt;
                    </ul>
                </div>-->
            </li>

            <li>
                <a href="#">CONTACT</a>
            </li>

            <li class="social-bar"> <a href="#">FOLLOW US</a>
                <ul class="drop-down hover-zoom">
                    <li> <a href="#" target="_blank"><i class="fa fa-flickr"></i> </a> </li>
                    <li> <a href="#" target="_blank"><i class="fa fa-instagram"></i> </a> </li>
                    <li> <a href="#" target="_blank"><i class="fa fa-youtube"></i> </a> </li>
                    <li> <a href="#" target="_blank"><i class="fa fa-facebook"></i> </a> </li>
                    <li> <a href="#" target="_blank"><i class="fa fa-google-plus"></i> </a> </li>
                    <li> <a href="#" target="_blank"><i class="fa fa-pinterest"></i> </a> </li>
                </ul>
            </li>

            <li class="login-form"> <i class="fa fa-user"></i><!-- login form -->
                <ul class="drop-down hover-expand">
                    <li>
                        <form method="post" action="#">
                            <table>
                                <tr>
                                    <td colspan="2">
                                        <input type="email" required="required" name="email" placeholder="Your email address">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="password" required="required" name="password" placeholder="Password">
                                    </td>
                                </tr>
                                <tr>
                                    <td> <input type="submit" value="Login"> </td>
                                    <td> <label> <input type="checkbox" name="check_box"> Keep me signed in </label> </td>
                                </tr>
                            </table>
                        </form>
                    </li>
                </ul>
            </li>

            <li class="search-bar"> <i class="fa fa-search"></i><!-- search bar -->
                <ul class="drop-down hover-expand">
                    <li>
                        <form method="post" action="#">
                            <table>
                                <tr>
                                    <td> <input type="search" required="required" name="serach_bar" placeholder="Type Keyword Here"> </td>
                                    <td> <input type="submit" value="Search"> </td>
                                </tr>
                            </table>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- Main Nav -->
</header>
<!-- End Header-->

<!-- Section Title-->
<div class="section-title-detailed">
    <!-- Single Carousel-->
    <div id="single-carousel">
        <div class="img-hover">
            <div class="overlay"> <a href="{{static_path}}lib/img/slide/11.jpg" class="fancybox" rel="gallery"></a></div>
            <img src="{{static_path}}lib/img/slide/11.jpg" alt="" class="img-responsive">
        </div>

        <div class="img-hover">
            <div class="overlay"> <a href="{{static_path}}lib/img/slide/12.jpg" class="fancybox" rel="gallery"></a></div>
            <img src="{{static_path}}lib/img/slide/12.jpg" alt="" class="img-responsive">
        </div>

        <div class="img-hover">
            <div class="overlay"> <a href="{{static_path}}lib/img/slide/13.jpg" class="fancybox" rel="gallery"></a></div>
            <img src="{{static_path}}lib/img/slide/13.jpg" alt="" class="img-responsive">
        </div>
    </div>
    <!-- End Single Carousel-->

    <!-- Section Title-->
    <div class="title-detailed">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <ul class="starts">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                    </ul>
                    <h2>Aqua Hotel Onabrava
                        <span>Av. del Mar, 6 - 08398, Santa Susanna , Barcelona (España) </span>
                    </h2>
                </div>

                <div class="col-md-3">

                </div>
            </div>
        </div>
    </div>
    <!-- End Section Title-->
</div>
<!-- End Section Title-->

<!--Content Central -->
<div class="content-central">
    <!-- Shadow Semiboxed -->
    <div class="semiboxshadow text-center">
        <img src="{{static_path}}lib/img/img-theme/shp.png" class="img-responsive" alt="">
    </div>
    <!-- End Shadow Semiboxed -->

    <!-- End content info - Features-->
    <div class="content_info skin_base no-overflow">
        <div class="container wow fadeInUp">
            <div class="row">
                <!-- Services Items -->
                <div class="col-md-9">
                    <ul class="services-lines services-lines-left">
                        <li>
                            <div class="item-service-line">
                                <i class="fa fa-bicycle"></i>
                                <h5>Special Activities</h5>
                            </div>
                        </li>
                        <li>
                            <div class="item-service-line">
                                <i class="fa fa-plane"></i>
                                <h5>Travel Arrangements</h5>
                            </div>
                        </li>
                        <li>
                            <div class="item-service-line">
                                <i class="fa fa-user"></i>
                                <h5>Private Guide</h5>
                            </div>
                        </li>
                        <li>
                            <div class="item-service-line">
                                <i class="fa fa-search-plus"></i>
                                <h5>Location Manager</h5>
                            </div>
                        </li>
                        <li>
                            <div class="item-service-line">
                                <i class="fa fa-map-marker"></i>
                                <h5>Handpicked Hotels</h5>
                            </div>
                        </li>
                        <li>
                            <div class="item-service-line">
                                <i class="fa fa-money"></i>
                                <h5>Best Price Guarantee</h5>
                            </div>
                        </li>
                        <li>
                            <div class="item-service-line">
                                <i class="fa fa-bank"></i>
                                <h5>Trust & Safety</h5>
                            </div>
                        </li>
                        <li>
                            <div class="item-service-line">
                                <i class="fa fa-line-chart"></i>
                                <h5>Best Travel Agent</h5>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- End Services Items -->

                <!-- Form Detailed -->
                <div class="col-md-3">
                    <div class="form-detailed">
                        <div class="header-detailed">
                            <div class="price-detailed">
                                $55
                            </div>

                            <div class="frequency-detailed">
                                Per Night
                            </div>
                        </div>

                        <form action="#">
                            <label>Arrival</label>
                            <input type="text" required="required" placeholder="Select Arrival" class="date-input">
                            <label>Output</label>
                            <input type="text" required="required" placeholder="Select Output" class="date-input">
                            <label>Guests</label>
                            <div class="selector">
                                <select class="guests-input">
                                    <option value="1">1 Guests</option>
                                    <option value="2">2 Guests</option>
                                    <option value="3">3 Guests</option>
                                    <option value="4">4 Guests</option>
                                    <option value="5">5+ Guests</option>
                                </select>
                                <span class="custom-select">Select Guests</span>
                            </div>
                            <input type="submit" value="Search">
                        </form>
                    </div>
                </div>
                <!-- End Form Detailed -->
            </div>
        </div>
    </div>
    <!-- End content info - Features-->

    <!-- End content info - Grey Section-->
    <div class="content_info">
        <!-- Info Resalt-->
        <div class="content_resalt paddings-mini tabs-detailed">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Nav Tabs-->
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active">
                                <a href="#hotel" data-toggle="tab"><i class="fa fa-home"></i> DESCRIPTION</a>
                            </li>
                            <li>
                                <a href="#preferences" data-toggle="tab"><i class="fa fa-camera"></i> Preferences</a>
                            </li>
                            <li>
                                <a href="#faq" data-toggle="tab"><i class="fa fa-check"></i>FAQ QUESTIONS</a>
                            </li>
                        </ul>
                        <!-- End Nav Tabs-->

                        <div class="tab-content">
                            <!-- Tab One - Hotel -->
                            <div class="tab-pane active" id="hotel">
                                <h2>Information about this ad</h2>
                                <p>The Aqua Hotel Onabrava is located in Santa Susanna, in the beautiful Costa Brava, a few steps from the beach.The 350 rooms are equipped with air conditioning and heating, telephone, private bathroom with hairdryer and minibar. They also have flat-screen TVs and balconies.</p>

                                <p>They offer free wireless Internet access in public areas. It has a large and impressive lobby and other outstanding services this hotel is perfect for your holiday.</p>

                                <p>It is fully equipped in their pool and spa areas and supply is complemented by a varied and interesting program of entertainment and a children's club, which will allow parents a moment of total relaxation.</p>

                                <h3>Rom facilities </h3>

                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-styles">
                                            <li><i class="fa fa-check"></i> Climate control</li>
                                            <li><i class="fa fa-check"></i> Air conditioning</li>
                                            <li><i class="fa fa-check"></i> Direct-dial phone</li>
                                            <li><i class="fa fa-check"></i> Minibar</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-styles">
                                            <li><i class="fa fa-check"></i> Wake-up calls</li>
                                            <li><i class="fa fa-check"></i> Daily housekeeping</li>
                                            <li><i class="fa fa-check"></i> Private bathroom</li>
                                            <li><i class="fa fa-check"></i> Hair dryer</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-styles">
                                            <li><i class="fa fa-check"></i> Makeup/shaving mirror</li>
                                            <li><i class="fa fa-check"></i> Shower/tub combination</li>
                                            <li><i class="fa fa-check"></i> Satellite TV service</li>
                                            <li><i class="fa fa-check"></i> Electronic/magnetic keys</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- end Tab One - Hotel -->

                            <!-- Tab Two - Preferences -->
                            <div class="tab-pane" id="preferences">
                                <p>The Aqua Hotel Onabrava is located in Santa Susanna, in the beautiful Costa Brava, a few steps from the beach.The 350 rooms are equipped with air conditioning and heating, telephone, private bathroom with hairdryer and minibar. They also have flat-screen TVs and balconies.</p>

                                <h3>Hotel facilities </h3>

                                <ul class="services-lines full-services">
                                    <li>
                                        <div class="item-service-line">
                                            <i class="fa fa-bicycle"></i>
                                            <h5>Special Activities</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-service-line">
                                            <i class="fa fa-plane"></i>
                                            <h5>Travel Arrangements</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-service-line">
                                            <i class="fa fa-user"></i>
                                            <h5>Private Guide</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-service-line">
                                            <i class="fa fa-search-plus"></i>
                                            <h5>Location Manager</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-service-line">
                                            <i class="fa fa-map-marker"></i>
                                            <h5>Handpicked Hotels</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-service-line">
                                            <i class="fa fa-money"></i>
                                            <h5>Best Price Guarantee</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-service-line">
                                            <i class="fa fa-bank"></i>
                                            <h5>Trust &amp; Safety</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-service-line">
                                            <i class="fa fa-line-chart"></i>
                                            <h5>Best Travel Agent</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-service-line">
                                            <i class="fa fa-bed"></i>
                                            <h5>Great Beds</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-service-line">
                                            <i class="fa fa-automobile"></i>
                                            <h5>Automobile</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-service-line">
                                            <i class="fa fa-fax"></i>
                                            <h5>Fax Service</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-service-line">
                                            <i class="fa fa-soccer-ball-o"></i>
                                            <h5> Sports</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-service-line">
                                            <i class="fa fa-taxi"></i>
                                            <h5>taxi Service</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-service-line">
                                            <i class="fa fa-credit-card"></i>
                                            <h5>Credit Card</h5>
                                        </div>
                                    </li>
                                </ul>

                                <h3>Rom facilities </h3>

                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-styles">
                                            <li><i class="fa fa-check"></i> Climate control</li>
                                            <li><i class="fa fa-check"></i> Air conditioning</li>
                                            <li><i class="fa fa-check"></i> Direct-dial phone</li>
                                            <li><i class="fa fa-check"></i> Minibar</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-styles">
                                            <li><i class="fa fa-check"></i> Wake-up calls</li>
                                            <li><i class="fa fa-check"></i> Daily housekeeping</li>
                                            <li><i class="fa fa-check"></i> Private bathroom</li>
                                            <li><i class="fa fa-check"></i> Hair dryer</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-styles">
                                            <li><i class="fa fa-check"></i> Makeup/shaving mirror</li>
                                            <li><i class="fa fa-check"></i> Shower/tub combination</li>
                                            <li><i class="fa fa-check"></i> Satellite TV service</li>
                                            <li><i class="fa fa-check"></i> Electronic/magnetic keys</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- end Tab Two - Preferences -->

                            <!-- Tab Theree - faq -->
                            <div class="tab-pane" id="faq">
                                <div class="accrodation">
                                    <!-- section 1 -->
                                    <span class="acc-trigger"><a href="#">Mision</a></span>
                                    <div class="acc-container">
                                        <div class="content">
                                            Book cheap hotels and make payment facilities, free cancellation when the hotel so provides, compare prices and find all the options for your vacation.
                                        </div>
                                    </div>

                                    <!-- section 2 -->
                                    <span class="acc-trigger"><a href="#">Vision</a></span>
                                    <div class="acc-container">
                                        <div class="content">
                                            You can choose your favorite destination and start planning your long-awaited vacation. We offer thousands of destinations and have a wide variety of hotels so that you can host and enjoy your stay without problems. Book now your trip travelia.com.
                                        </div>
                                    </div>

                                    <!-- section 3 -->
                                    <span class="acc-trigger"><a href="#">What we offer?</a></span>
                                    <div class="acc-container">
                                        <div class="content">
                                            Find a wide variety of airline tickets and cheap flights, hotels, tour packages, car rentals, cruises and more in travelia.com.You can choose your favorite destination and start planning your long-awaited vacation.
                                        </div>
                                    </div>

                                    <!-- section 4 -->
                                    <span class="acc-trigger active"><a href="#">Our services</a></span>
                                    <div class="acc-container">
                                        <div class="content">
                                            You can also check availability of flights and hotels quickly and easily, in order to find the option that best suits your needs.Book cheap hotels and make payment facilities, free cancellation when the hotel so provides, compare prices and find all the options for your vacation.
                                        </div>
                                    </div>
                                </div>
                                <!-- End accrodation -->
                            </div>
                            <!-- Tend ab Theree - faq -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Info Resalt-->
    </div>
    <!-- End content info - Grey Section-->

    <!-- content info - testimonials-->
    <div class="content_info">
        <!-- Parallax Background -->
        <div class="bg_parallax image_02_parallax"></div>
        <!-- Parallax Background -->

        <div class="opacy_bg_02">
            <!-- Testimonial Propertie-->
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="info-testimonial">
                            <ul id="testimonials">
                                <li>
                                    <p><i class="fa fa-quote-left"></i>The hotel is stunning, super recommended. And the treatment of its people in very good, are always attentive to the little things.<i class="fa fa-quote-right"></i></p>

                                    <div class="image-testimonials">
                                        <img src="{{static_path}}lib/img/testimonials/1.jpg" alt="">
                                    </div>
                                    <h4>Jeniffer Martinez</h4>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>

                                <li>
                                    <p><i class="fa fa-quote-left"></i>Spectacular, excellent personal, restaurants and very good drinks, highly recommended.<i class="fa fa-quote-right"></i></p>

                                    <div class="image-testimonials">
                                        <img src="{{static_path}}lib/img/testimonials/2.jpg" alt="">
                                    </div>
                                    <h4>Juan Rendon</h4>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </li>

                                <li>
                                    <p><i class="fa fa-quote-left"></i>The hotel is stunning, super recommended. And the treatment of its people in very good, are always attentive to the little things.<i class="fa fa-quote-right"></i></p>

                                    <div class="image-testimonials">
                                        <img src="{{static_path}}lib/img/testimonials/3.jpg" alt="">
                                    </div>
                                    <h4>Federick Gordon</h4>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-half-o"></i>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="testimonial-info">
                            <h2>TESTIMONIALS</h2>
                            <P>You can choose your favorite destination and start planning your long-awaited vacation. We offer thousands of destinations and have a wide variety of hotels so that you can host and enjoy your stay without problems. Book now your trip travelia.com.</P>
                            <a href="#" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Testimonial Propertie-->
        </div>
    </div>
    <!-- End content info - testimonials-->
</div>
<!-- End Content Central -->

<!-- footer-->
<footer id="footer" class="footer-v1">
    <div class="container">
        <div class="row">
            <!-- Title Footer-->
            <div class="col-md-5">
                <div class="title-footer">
                    <h2>Save on your plans!
                        <br> <span>Select Travelia Theme And Receive</span>
                        <br> our discounts by e-mail.</h2>
                </div>

                <p>You can choose your favorite destination and start planning your long-awaited vacation. We offer thousands of destinations and have a wide variety of hotels so that you can host and enjoy your stay without problems. Book now your trip travelia.com.</p>
            </div>
            <!-- End Title Footer-->

            <div class="col-md-7">
                <div class="row">
                    <!-- Social Us-->
                    <div class="col-md-3">
                        <h3>FOLLOW US</h3>
                        <ul class="social">
                            <li class="facebook"><span><i class="fa fa-facebook"></i></span><a href="#">Facebook</a></li>
                            <li class="twitter"><span><i class="fa fa-twitter"></i></span><a href="#">Twitter</a></li>
                            <li class="github"><span><i class="fa fa-github"></i></span><a href="#">Github</a></li>
                        </ul>
                    </div>
                    <!-- End Social Us-->

                    <!-- Recent links-->
                    <div class="col-md-5">
                        <h3>TRAVEL SPECIALISTS </h3>
                        <ul>
                            <li><i class="fa fa-check"></i> <a href="#">Golf Vacations</a></li>
                            <li><i class="fa fa-check"></i> <a href="#">Disney Parks Vacations</a></li>
                            <li><i class="fa fa-check"></i> <a href="#">Vacations As Advertised</a></li>
                        </ul>
                    </div>
                    <!-- End Recent links-->

                    <!-- Contact Us-->
                    <div class="col-md-4">
                        <h3>CONTACT US</h3>
                        <ul class="contact_footer">
                            <li>
                                <i class="fa fa-envelope"></i> <a href="#">example@example.com</a>
                            </li>
                            <li>
                                <i class="fa fa-headphones"></i> <a href="#">55-5698-4589</a>
                            </li>
                            <li class="location">
                                <i class="fa fa-home"></i> <a href="#"> Av new stret - New York</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Contact Us-->
                </div>

                <div class="divisor"></div>

                <div class="row">
                    <!-- Newsletter-->
                    <div class="col-md-12">
                        <h3>NEWSLETTER SIGN UP</h3>
                        <form id="newsletterForm" action="php/mailchip/newsletter-subscribe.php">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                        <input class="form-control" placeholder="Your Name" name="name" type="text" required="required">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                        <input class="form-control" placeholder="Your  Email" name="email" type="email" required="required">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="submit" name="subscribe">SIGN UP</button>
                                                </span>
                                </div>
                            </div>
                        </form>
                        <div id="result-newsletter"></div>
                    </div>
                    <!-- end Newsletter-->
                </div>
            </div>
        </div>
    </div>

    <!-- footer Down-->
    <div class="footer-down">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <p>&copy; 2015 Travelia . All Rights Reserved.  2010 - 2015</p>
                </div>
                <div class="col-md-7">
                    <!-- Nav Footer-->
                    <ul class="nav-footer">
                        <li><a href="index.html">HOME</a> </li>
                        <li><a href="hotel-index.html">HOTELS</a></li>
                        <li><a href="flight-index.html">FLIGHTS</a></li>
                        <li><a href="car-index.html">CARS</a></li>
                        <li><a href="cruice-index.html">CRUICES</a></li>
                        <li><a href="contact.html">CONTACT</a></li>
                    </ul>
                    <!-- End Nav Footer-->
                </div>
            </div>
        </div>
    </div>
    <!-- footer Down-->
</footer>
<!-- End footer-->